@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

body {
  background-color: #1a2e1a; /* Темно-зеленый лесной */
  background-image: radial-gradient(#2d4a2d 1px, transparent 1px);
  background-size: 20px 20px;
}

/* Убирает синюю подсветку при тапе на мобилках */
* {
  -webkit-tap-highlight-color: transparent;
}